.loginCards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  min-width: 300px;
  font-size: large;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  background-color: #212121;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
  min-width: 350px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px;
  background-color: #212121;
}

@media only screen and (max-width: 750px) {
  .aboutContainer {
    width: 90%;
  }
  .loginContainer {
    width: 90%;
  }
}

.aboutContainer ul {
  list-style: inside;
}

.loginContainer form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loginTitle {
  font-size: 30px;
}

.loginContainer .formSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
