body {
  background-size: cover;
  background-repeat: no-repeat;
}

table,
tr,
td {
  border-collapse: collapse;
}

p {
  font-size: 14px;
}

.btn {
  border-style: solid;
  border-width: 1px 1px 2px 2px;
  padding: 2px;
  border-color: #d9dfea #d9dfea #3b5998 #3b5998;
  background-color: #538adc;
  color: #ffffff;
}

input {
  border-width: 1;
  border-color: #666666;
  background-color: #d9dfea;
}

td,
th {
  border: 1px solid #dab630;
  text-align: center;
  vertical-align: middle;
}

audio {
  width: 90%;
}

.timerInput {
  width: 15px;
}
