* {margin: 0; padding: 0; box-sizing: border-box;}

body {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px black solid;
}

#cursores, #loja {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

#cursores > img {
    height: 100px;
    width: 100px;
}

#loja {
    height: 30%;
    width: 100%;
    border: 1px black solid;
}

#loja > span {
    border: 1px black solid;
}

img {
    height: 200px;
    width: 200px;
}

#cookie {
    height: 400px;
    width: 400px;
}

#ganhaste {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: red;
    font-size: 100px;
}